logging:
  file: api.log
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    com.kry.pms: debug
server:
  address: 0.0.0.0
  port: 8090
  servlet:
    context-path: /pms
spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Shanghai
    default-property-inclusion: non-null
  datasource:
    url: jdbc:mysql://rm-m5e00j1v2qcxae4k8.mysql.rds.aliyuncs.com:3306/pms_temp?useUnicode=true&characterEncoding=utf8&serverTimezone=Hongkong&tinyInt1isBit=false
    username: pms_user
    password: rooibook
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  redis:
    database: 1
    host: 127.0.0.1
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: -1
        min-idle: 0
    port: 6379
  quartz:
    job-store-type: jdbc
    initialize-schema: embedded
    properties:
      org:
        quartz:
          scheduler:
            instanceId: AUTO
          jobStore:
            class: org.quartz.impl.jdbcjobstore.JobStoreTX
            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
            tablePrefix: qrtz_
            isClustered: false
            clusterCheckinInterval: 10000
            useProperties: true
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 10
            threadPriority: 5
            threadsInheritContextClassLoaderOfInitializingThread: true