spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Shanghai
    default-property-inclusion: non-null
  datasource:
    password: Rooibook123!@#
    url: jdbc:mysql://192.168.1.188:3306/pms_test?useUnicode=true&characterEncoding=utf8&serverTimezone=Hongkong&tinyInt1isBit=false
    username: root
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    show-sql: true
    properties:
      hibernate:
        format_sql:true
        show_sql:true   
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  redis:
    database: 1
    host: 127.0.0.1
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: -1
        min-idle: 0
    port: 6379
